.projects__container {
    margin: 0;
    padding: 0 171px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1124px) {
    .projects__container {
        padding: 0 120px;
    }
}

@media screen and (max-width: 984px) {
    .projects__container {
        padding: 0 70px;
    }
}

@media screen and (max-width: 768px) {
    .projects__container {
        padding: 0 30px;
    }
}

@media screen and (max-width: 568px) {
    .projects__container {
        padding: 0 16px;
    }
}