.facts__picture {
    background-image: url(/images/background_picture.svg);
    background-size: cover;
    width: 349px;
    min-height: 283px;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 1218px) {
    .facts__picture {
        right: -130px;
    }
}


@media screen and (max-width: 1148px) {
    .facts__picture {
        right: -220px;
    }
}

@media screen and (max-width: 796px) {
    .facts__picture {
        display: none;
    }
}