.facts__gray-lines {
    width: 155px;
    height: 155px;
    position: absolute;
    top: 0;
    right: -80px;
}

@media screen and (max-width: 1124px) {
    .facts__gray-lines {
        right: -110px;
    }
}
