.intro__container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 171px;
    margin: 0;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1124px) {
    .intro__container {
        padding: 0 120px;
    }
}

@media screen and (max-width: 984px) {
    .intro__container {
        padding: 0 70px;
    }
}

@media screen and (max-width: 768px) {
    .intro__container {
        padding: 0 30px;
    }
}

@media screen and (max-width: 568px) {
    .intro__container {
        padding: 0 16px;
        flex-direction: column;
    }
}