.intro__avatar {
    /* border-radius: 100%; */
    max-width: 100%;
    max-height: 395px;
    object-fit: cover;
    z-index: 2;
}

@media screen and (max-width: 568px) {
    .intro__avatar {
        margin: 24px 0 0 0;
        max-height: 250px;
    }
}