.small-projects__gray-lines {
    width: 155px;
    height: 155px;
    position: absolute;
    top: 0;
    left: -80px;
}

@media screen and (max-width: 984px) {
    .small-projects__gray-lines {
        left: -110px;
    }
}